body{
background-color: var(--jesusGreen);
margin: 0;
}
.evacontainer{
    background-image: url('/campusKoege/images/general pics/evalueringhome.png');
   background-size:cover;
    height: 225px;
}


.contenteva{
    display: flex;
    justify-content: space-between;
}
.sekflex{
    display: flex;
    justify-content: center;
    
}
.sek2{
    width: 85%;
    margin-top: 30px;
}

h1{
    margin: 0;
    font-size: 17px;
}

h6{
    margin: 0;
    font-weight: 200;
}

.headline{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.formers{
  display: flex;
  flex-direction: row;
}

/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: var(--TheGreenMile);
  width: 300px;
  height: 55px;
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: var(--PrincessMiamaya);
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  font-size: 1.5rem;
  
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.knapdiv{

    width: 100%;
    display: flex;
    justify-content: center;
}


/* Skjul standard-checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Opret en grøn, rund checkmark */
.custom-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
 
  font-weight: 100;
  font-size: 10px;
}
.checkbox-group{
  margin: 10px;
  
}
.form-container{
  margin-top: 20px;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-color: #ddd; /* Grå farve, før den er valgt */
  border-radius: 50%; /* Gør den rund */
  margin-right: 10px;
  transition: background-color 0.3s ease;
  position: relative;
  border: solid 5px var(--TheGreenMile);
}

/* Når checkboxen er markeret, skift farve */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: var(--MidnightMoss); /* Grøn farve */
}

/* Valg-afkrydsning */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--MidnightMoss);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.evaknapper{
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.back{
  background-color: var(--PrincessMiamaya);
  color: var(--TheGreenMile);
  border-radius: 22px;
  border: solid 7px var(--TheGreenMile);
  width: 140px;
  height: 35px;
}

.continue{
  background-color: var(--TheGreenMile);
  color: var(--PrincessMiamaya);
  border-radius: 22px;
  border: solid 7px var(--TheGreenMile);
  width: 140px;
  height: 35px;
}