body{
    background-color: #e6e6e6;
    margin: 0;
    font-family: greycliff-cf, sans-serif;
}

h2{
    color: #375534;
    margin: 0;
    font-size: 17px;
    font-weight: 700;
}

p{
    color: #375534;
    font-size: 10px;
    font-weight: 300;
    margin: 0;
}

button{
    all:unset;
}

.header-icons{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-between;
}

.searchicon{
    margin-right: -20px;
}

.picture1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content{
    background-color: #D9D9D9;
    height: 553px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -120px;
}

.wallah{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -80px;
    margin-top: 20px;
}

.cards{
    background-color: #D9D9D9;
    height: 71px;
    width: 259px;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.insideheadline{
    margin: 10px;
}

.insidebodytext{
    margin: 10px;
}

.bodytext{
    margin-top: 20px;
}

.cards-overlay{

}

.point{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-bottom: 100px;
    margin-right: 310px;
}

.line{
    margin: 2px;
}


/* sunes popup*/

.picturepicture{
    display: flex;
    margin-top: 40px;
}
.exitbutton{
    margin-left: 20px;
    margin-top: 45px;
    position: absolute;
}

.headerpic{
    width: 100%;
}

.button2{
    all:unset;
}

.p2{
    font-size: 12px;
    margin: 26px;
    font-weight: 300;
}

.p1{
    font-size: 10px;
    margin-top: -30px;
    font-weight: 300;
}

.h22{
    font-size: 17px;
    margin: 26px;
    font-weight: 700;
}

#img2{
    display: flex;
    justify-content: center;
    width: 100%;
}

.contentbox2{
    background-color: #E1E7D8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 0px 0px 22px 22px;
    font-family: greycliff-cf, sans-serif;
    font-style: normal;
    color: #375534;
}

.content2{
    margin-bottom: 50px;
}

.sunesballade {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.3s ease, border-radius 0.3s ease; 
    border-radius: 0 0 22px 22px; 
    z-index: 10;
}
.backgroundblur {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: fixed; /* Fixed så den dækker hele viewporten */
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px); /* Blur-effekt */
}

.backgroundblur.active2 {
    visibility: visible;
    opacity: 1;
}


.sunesballade.active {
    height: 80%;
    width: 80%; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    justify-content: center;
    align-items: center;
    border-radius: 22px; 
}