body{
    margin: 0%;
    background-color: #D9D9D9;
}

a{
    all: unset;
}

h2{
    font-weight: 700;
    font-size: 17px;
    
    
}

p{
    padding-left: 5px;
    font-weight: 300;
}




button{
    all:unset;
}


.contentbox{
    background-color: #D9D9D9;
    height: 583px;
    font-family: greycliff-cf, sans-serif;
    color: #375534;
}

.contentbox-header{
    margin-left: 31px;
    margin-right: 31px;
    padding-top: 34px;
}

.point{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.line{
    margin: 2px;
}

.cards{
    background-color: #D9D9D9;
    height: 71px;
    width: 259px;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contentflex{
    display: flex;
    margin-left: 15px;
    margin-top: 34px;
}

.allcards{
    margin-left: 20px;
    margin-bottom: -80px;
}

.contenteva{
    display: flex;
    justify-content: space-between;
}

.evacontainer{
    background-color: white;
}